body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.responsive-svg-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}